HowLargeIsTheResistance/HowLargeIsTheResistance/Schemas/color_codes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ColorCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ColorCode">
          <xs:complexType>
            <xs:attribute name="color" type="xs:string" use="required" />
            <xs:attribute name="decimal" type="xs:string" use="required" />
            <xs:attribute name="unit_position" type="xs:string" use="required" />
            <xs:attribute name="multiplier" type="xs:string" use="required" />
            <xs:attribute name="tolerance" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>